__pycache__/
*.pyc
.pytest_cache/
.coverage
venv/
.env
terraform/.terraform/
terraform/*.tfstate*
terraform/tfplan*
terraform/.terraform.lock.hcl
terraform/auto_subscribe.zip
terraform/scanner.zip
.DS_Store
node_modules/
